*,body{
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
h1{
    text-align: center;
}
.calculator{
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    margin-top: 45px;
    box-shadow: 1px 0px 31px -3px rgb(0, 0, 0);
}
.cal_heading input{
    width:345px;
    height: 100px;
   padding-left:3px;
   font-size: large;
   font-weight: bold;

}
.cal_heading{
    background-color: grey;
}
.cal_body{
     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    font-size: 0px;
}

.btn{
    width: 87px;
    height: 70px;
    background-color: rgb(5, 5, 5);
    color: white;

}
.btn_style{
    background-color: rgb(109, 34, 170);
}